Package: software-properties-gtk
Source: software-properties
Version: 0.60.debian-3
Architecture: all
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Installed-Size: 1236
Depends: python (>= 2.4), python-support (>= 0.90.0), synaptic (>= 0.57.8), gksu, python-software-properties, python-glade2, python-gtk2
Conflicts: update-manager (<< 0.55)
Replaces: update-manager (<< 0.55)
Section: admin
Priority: optional
Description: manage the repositories that you install software from
 This software provides an abstraction of the used apt repositories.
 It allows you to easily manage your distribution and independent software
 vendor software sources.
 .
 This package contains a GTK+ based graphical interface.
Python-Version: 2.5, 2.6
